<head>
    <link rel="stylesheet" href="/css/components/message.css" />
</head>
<li>
    <div class="entry">
        <div class="name"><%= message.user %></div>
        <%= message.text %>
        <div class="date"><%= message.added %></div>
    </div>
</li>
