<head>
    <link rel="stylesheet" href="/css/components/message.css" />
</head>
<li>
    <div class="entry">
        <div class="name">
            <div><%= message.user %></div>
            <% if (showDetails) { %>
                <a href="./message-details/<%=message.id%>">&#10247;</a>
            <% } %>
        </div>
        <%= message.text %>
        <div class="date"><%= message.added %></div>
    </div>
</li>
