<head>
    <link rel="stylesheet" href="/css/components/message.css" />
</head>
<li>
    <div class="message">
        <div><%= message.user %></div>
        <div><%= message.added %></div>
        <%= message.text %>
    </div>
</li>
