.message {
    padding: 16px;
    flex: 1;
    background-color: #252525;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #7d7d7d;
}

.metadata {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.25rem;
}

.date {
    color: #7d7d7d;
}
