<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <form method="POST" action="/new">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
            <label for="message">Input Message:</label>
            <input type="text" id="message" name="message" />
            <input type="submit" />
        </form>
        <button onclick="window.location.href = '../'">Back</button>
    </body>
</html>
